/*variables du projet 3*/

/*couleurs*/
$colorprimary:rgb(65, 39, 39);
$colorsecondary: wheat;
$colortertiary: black;
$text-color: black
;
$primlight: lighten($colorprimary,10%);
$seclight: darken($colorsecondary,10%);


/*police*/
$police: 'Shrikhand';