/*organisation du footer*/

footer {
    background: $seclight;
    @include center;
    padding: 2%;
    width: 100%;
    height: 80px;
    .nav {
      color: $colorprimary;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      padding: 0 10px;
      &__lien {
        color: $colorprimary;
        font-size: 15px;
        font-family: $police;
      }
    }
}

@media screen and (min-width: 600px) {
  footer {
    .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    }
  }
}